.views_container {
  width: 100%;
  background-image: linear-gradient(to right, #666667 1px, transparent 1px), linear-gradient(#666667 1px, transparent 1px);
  background-size: 15px 15px;
  background-color: #7b7b7b;
  overflow: scroll;
}