@import '../../styles/variables';

.header {
  height: 60px;
  width: 100vw;
  box-shadow: 0 0px 2px black;
  background: $grey1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  .hamburger-menu {
    width: 30px;
    cursor: pointer;

    div {
      margin-bottom: 5px;
      height: 3px;
      width: 100%;
      border-radius: 5px;
      transition: all .1s ease-in;
      box-shadow: 0px 0 4px 0px $grey3, -1px -1px 6px 0px #000000;
    }
  

    &:hover {
      &.open {
        div {
          &:first-of-type {
            transform: rotate(-45deg);
            width: 20px;
          }
          &:nth-child(2) {
            margin-left: 5px;
          }
          &:last-child {
            transform: rotate(45deg);
            width: 20px;
          }
        }
      }
      &.close {
        div {
          &:first-of-type {
            transform: rotate(45deg);
            width: 20px;
            margin-left: 18px;
          }
          &:last-child {
            transform: rotate(-45deg);
            width: 20px;
            margin-left: 18px;
          }
        }
      }
    }
  }

  .input_container {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: $box-shadow-input;

    form {
      display: flex;
      input {
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        color: $grey4;
        font-size: 16px;
      }
      button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        
        svg {
          height: 20px;
        }
        &:focus {
          outline: none;
        }
      }
    }

    &.has-error {
      border: 1px solid red;
    }
  }
}