@import './variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $grey2;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

.main_container {
  display: flex;
  height: calc(100vh - 60px);
}

.drag-handle {
  cursor: move;
}

.app-modal-overlay {
  .app-modal {
    padding: 0;
    width: 100%;
    // border-radius: 8px;
    max-width: 550px;
    background: $grey2;

    button {
      outline: none;
    }

    .close-icon {
      cursor: pointer;
    }

    &.lg {
      max-width: 1000px;
    }

    .modal-header {
      padding-bottom: 10px;
      margin-bottom: 10px;
      color: $grey1;
      background: $grey3;
      padding: 15px;
    }
    
    .modal-body {
      padding: 15px;
      .input {
        padding: 10px;
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        color: $grey4;
        font-size: 16px;
        box-shadow: $box-shadow-input;
        box-sizing: border-box;
        border-radius: 10px;
        margin-bottom: 10px;
      }

      .views-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        border-bottom: 1px solid #ddd;
        margin: 5px 0;
        min-height: 200px;

        .device {
          margin: 5px;
          padding: 8px 10px;
          cursor: pointer;
          border-radius: 4px;
          background: $grey4;
          height: max-content;
          border: 1px solid transparent;

          &.selected {
            border: 1px solid red;
            color: $grey3;
            background: $grey2;
          }

          &:hover {
            box-shadow: $box-shadow-viewport;
          }
        }
      }

      .selected-device {
        border-bottom: 1px solid #ddd;

        .device {
          padding: 5px;
          margin: 10px 5px;
          background: $grey3;
          display: inline-block;
          box-shadow: $box-shadow-viewport;
          border-radius: 4px;
        }
      }
    }

    .modal-footer {
      text-align: right;
      // margin: 10px;
      padding: 15px;
      background: $grey3;
      
      .btn {
        padding: 10px;
        background: $grey2;
        color: $grey3;
        min-width: 100px;
        margin: 0  0 0 auto;
        border: none;
        border-radius: 6px;
        box-shadow: $box-shadow-viewport;
        &:hover {
          box-shadow: $box-shadow-menu;
        }
      }
    }
  }
}

.Toastify {
  .Toastify__toast--default {
    background: $grey2;
    box-shadow: 0 0 11px 1px $grey3;
    border-radius: 10px;
    .Toastify__toast-body {
      color: $grey3;
    }
    .Toastify__close-button > svg {
      fill: $white;
    }
  }
}
