@import './variables';
@import './modal';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $grey2;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

.main_container {
  display: flex;
  height: calc(100vh - 60px);
}

.drag-handle {
  cursor: move;
}

.Toastify {
  .Toastify__toast--default {
    background: $grey2;
    box-shadow: 0 0 11px 1px $grey3;
    border-radius: 6px;
    min-height: 50px;
    .Toastify__toast-body {
      color: $grey3;
    }
    .Toastify__close-button > svg {
      fill: $white;
    }
  }
}
