@import '../../styles/variables';

.header {
  height: 60px;
  width: 100vw;
  box-shadow: 0 0px 2px black;
  background: $grey1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  // justify-content: center;

  .hamburger-menu {
    width: 30px;
    cursor: pointer;

    div {
      margin-bottom: 5px;
      background: $white;
      height: 3px;
      width: 100%;
      border-radius: 5px;
    }
  }
}