@import '../../styles/variables';

.sidebar_container {
  height: calc(100vh - 60px);
  width: 270px;
  transition: all .2s linear;
  background: $grey2;
  position: relative;
  box-shadow: 0px 7px 6px 2px #616161;

  &.open {
    transform: translateX(-300px);
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

  .menu {
    margin: 15px 10px;
    padding: 10px 15px;
    border-radius: 14px;
    box-shadow: $box-shadow-menu;
    display: flex;
    justify-content: space-between;
    background: $grey2;
    transition: all .1s linear;
    color: $grey3;
    box-sizing: border-box;
    .close {
      cursor: pointer;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}
