@import '../../styles/variables';

.sidebar_container {
  height: calc(100vh - 60px);
  width: 270px;
  transition: all .2s linear;
  background: $grey2;
  position: relative;
  z-index: 0;
  box-shadow: 0px 7px 6px 2px #616161;

  &.open {
    transform: translateX(-300px);
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

  .add-icon {
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 5px;
    height: 100px;
    box-shadow: 0 0 26px 7px #1f2021;
  }

  .menu {
    margin: 15px 10px;
    padding: 10px 15px;
    border-radius: 14px;
    box-shadow: $box-shadow-menu;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $grey2;
    transition: all .1s linear;
    color: $grey3;
    box-sizing: border-box;

    .close {
      cursor: pointer;
    }
    
    &:hover {
      transform: scale(1.05);
    }
  }
}
