.sidebar_container {
  height: calc(100vh - 60px);
  width: 300px;
  transition: all .2s linear;

  &.open {
    transform: translateX(-300px);
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

  .menu {
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 0px black;
    display: flex;
    justify-content: space-between;
    .close {
      cursor: pointer;
    }
  }
}