@import '../../styles/variables';

.viewport {
  margin: 15px 5px 5px 5px;
  height: max-content;
  background: $grey3;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in-out;
  box-shadow: $box-shadow-viewport;
  transform-origin: top;

  .size {
    margin-top: -43px;
    padding: 11px;
    color: $grey3;
    opacity: 0;
  }

  &:hover {
    .size {
      opacity: 1;
    }
  }

  .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;

    .zoom, .rotate, .refresh, .remove {
      cursor: pointer;
      filter: drop-shadow(1px 1px 0px #ddd);

      &:hover {
        filter: drop-shadow(1px 1px 1px #fff);
      }
    }
  }

  iframe {
    transition: all .2s ease-in-out;
  }
  .name {
    margin: 5px 0 2px 0;
    text-align: center;
  }
}