@import '../../styles/variables';

.viewport {
  margin: 5px;
  height: max-content;
  background: $grey3;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in-out;

  .options {
    display: flex;
    margin-bottom: 5px;
    .zoom {
      cursor: pointer;
      border: 1px solid #ddd;
      padding: 10px;
    }
  }

  iframe {
    transition: all .2s ease-in-out;
  }
  .name {
    text-align: center;
  }
}